@(users: List[models.User])(implicit flash: play.api.mvc.Flash)

@**********************************
* Helper generating table headers *
***********************************@
@getUserId(userid: Option[Long]) = {
 	userid
}

    <h1>사용자 목록</h1>

@main("User Lists") {
    
    @flash.get("success").map { message =>
        <div class="alert-message warning">
            <strong>Done!</strong> @message
        </div>
    }

	@users.map { user => 
					@*<a href="@controllers.Application.users(getUserId(user.id))">user.id</a> @user.loginname @user.name @user.mobile <a href="@controllers.Application.modifyUser(getUserId(user.id))" class="btn">수정</a> <a href="@controllers.Application.deleteUser(getUserId(user.id))" class="btn">삭제</a> <br/>
	}
}

<center><a href="@routes.Application.newUser()" class="btn">사용자 추가</a></center>